* {
    margin: 0;
    padding: 0;
    font-family: Merriweather;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: navy;
    color: white;
    padding: 20px;
    position: relative;
}

#logo {
    width: 130px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header,
main {
    margin: 0 auto;
}

#menu {
    width: 30px;
    top: 2rem;
    right: 2rem;
    position: absolute;
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "❌";
}


.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 50%;
    justify-content: space-between;
    top: 10%;
    margin-left: 130px;
}

.navigation a {
    display: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    color: black;
    background-color: gray;
    padding: 20px;
}

.navigation a:hover {
    background-color: white;
    color: black;
}

.open a {
    display: block;
}

.hero-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.hero-img img {
    width: 100%;
    height: auto;
}

#photo {
    height: 100%;
    max-width: 100%;
}

.join-button {
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.card {
    padding: 15px;
    border: solid black 2px;
    margin-top: 10px;
    background-color: lightgray;
}

footer {
    background-color: navy;
    text-align: center;
    color: white;
    padding: 10px;
}

footer p {
    padding: 10px;
    font-size: 20px;
}

#mode {
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    right: 5rem;
    top: 1rem;
}

#discovery-page-main {
    display: grid;
    grid-template-columns: 1fr;
}

.discover-card {
    padding: 30px;
    border: solid black 2px;
    margin: 20px;
    background-color: lightgrey;
}

.discover-picture {
    display: inline-block;
    /* width: 100%;
    height: auto; */
    text-align: center;
    margin: 20px 20px 0 20px;

}

.discover-picture img {
    width: 100%;
    height: auto;
}

.discover-picture:hover {
    box-shadow: 0 0 50px #333;
}

.picture-text {
    display: block;
    text-align: center;
    padding: 10px;
}