header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    text-align: center;
    font-family: Merriweather;
    color: white;
    padding: 10px;
}

#image {
    margin-right: 20px;
}


/* nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
} */


#menu {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 3px 7px 6px;
    background-color: gray;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Merriweather;
}

/* nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px;
} */

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Merriweather;
    align-items: center;
}

footer {
    background-color: navy;
    text-align: center;
    color: white;
}

.card {
    border: 5px solid black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}

.card h3 {
    background-color: navy;
    color: white;
    margin: 0;
    padding: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.numbered-list {
    padding: 0;
}

iframe {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}