:root {
    padding: 0 2%;
    text-align: left;

}

form label.top {
    display: block;
    padding: 1rem;
    font-size: .8rem;
}

form label.top input {
    display: block;
    border-radius: 4px;
    padding: .75rem;
    font-size: 1rem;
}

#formSubmit {
    text-align: center;
}

#rangevalue {
    padding: 1rem;
    font-size: 2rem;
}

.submitBtn {
    padding: .75rem;
    margin: 1rem;
}

#rangevalues {
    height: 20px;
    width: 200px;
}